body {
    width: 100%;
    height: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.btnclass {
    background-color : #fff;
    color : red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* divs */
#container{	 
    margin: 0;
    padding: 0;
    /*保证footer是相对于container位置绝对定位*/
    position:relative;  
    width:100%;
    min-height:100%; 
    /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/  
    padding-bottom: 3em;  
    box-sizing: border-box;
}

#nav {
    width: 80%;
    height:2.5em;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #7bbfea;
    border-bottom: 1px solid #036;
}
    #footer a{
        font-weight: bold;
    }
    #nav a {
        display: block;
        font-weight: bold;
    }
    #footer a:link,
    #footer a:visited,
    #nav ul a:link,
    #nav ul a:visited {
        color: #fff;
    }
    #footer a:hover,{
        color: #7bbfea;
    }
    #nav ul a:hover,
    #nav ul a:active {
        background-color: #036;
    }
    #nav li {
        
        float: left;
    }

#nav2 {
    width: 10%;
    position: fixed;
    height: 60%;
    align-self: center;
    border: 1px solid #000;
    box-shadow: 5px 0px 5px -5px #888888 ;
}

#head {
    width: 100%;
    height: 60px;
    padding: 0;
    text-align: center;
    margin: 0;
    border-bottom:1px solid;
    top:0;
}

#footer {
    box-shadow: 5px 0px 5px -5px #888888 ;
    position: absolute;
    bottom: 0;
    left: 10%;
    line-height: 24px;
    display: block;
    background-color: #2a5caa;
    width: 80%;
    height: 2.5em;
    margin: 0 auto;
    color: #fff;
}

#main {
    display: block;
    color: #fff;
    width: 80%;
    margin: 0 auto;

    background-color: #fff;
    height: 750px;
    box-shadow: 5px 0px 5px -5px #888888 ;
}

#list {
    text-align: center;
    display: block;
    width: 25;
    float: left;
    border-right: 1px solid #036;
}

#content {
    display: block;
    width: 100%;
    height: 720px;
    float: left;
}


/* links */

a,
a:link,
a:visited {
    color: #000;
    text-decoration: none;
}

.a a:link,
.a a:visited {
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    width: 12em;
    padding: 0.5em;
    text-decoration: none;
    width: 12em;
}

.a a:hover {
    font-weight: bolder;
    color: dodgerblue;
    width: 12em;
}

.a a:active {
    color: #036;
    width: 12em;
}

.ul li {
    border-bottom: 1px solid #000;

}
/* images */
img.full {
    width:100%;
    height:100%;
    margin: 0 auto;
    height:100%;
}

/* hn */
h1 {
    font-family: 'Ostrich Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}



/* table */
table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table, th, td {
    border: 2px solid darkblue;
}

th {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 900;
    height: 50px;
    width: 200px;
    color: white;
    background-color: #036;
}


td {
    color:darkblue;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 2em;
    font-weight: 200
}



tr.alt {
    background-color: deepskyblue;
}